
@{
    ViewBag.Title = "Assignment6";
}
@section scripts
{
    <script src="~/Scripts/Assignment6.js"></script>
}
<h2>Assignment6</h2>

<div class="clearfix">
    <div style="float:left">
        <select id="colors" class="form-control input-lg">
            <option value="none">none</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="red">red</option>
            <option value="black">black</option>
        </select>
    </div> 
    <div style="float:left">
        <input type="button" class="btn btn-default"  id="colorChangerButton" value="Change Color" />
    </div>
</div>