
@{
    ViewBag.Title = "Assignment7";
}
@section scripts
{
<script src="~/Scripts/Assignment7.js"></script>
    }
<h2>Assignment7</h2>

<input type="button" value="hide" id="hide" />
<input type="button" value="show" id="show" />


<div id="lipsum">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis dictum leo. Duis interdum risus et ligula tincidunt, eu sollicitudin lorem aliquam. Ut blandit mauris a egestas condimentum. Nam sit amet leo venenatis, aliquam lectus a, dignissim lorem. Sed ut risus sed tellus aliquet egestas. Praesent auctor, dui at feugiat efficitur, ipsum dolor egestas sapien, quis vulputate dui dui eget risus. Phasellus eu ligula sed felis lacinia dignissim hendrerit luctus nunc. Maecenas consectetur arcu sit amet nisl facilisis, et efficitur nibh sagittis. Curabitur auctor malesuada risus, eget molestie quam facilisis sed. Nam cursus enim in sem sollicitudin molestie. Nullam varius congue porta. Proin ac turpis accumsan, elementum diam id, consectetur est. Nullam at ultrices lectus, nec cursus felis. Proin pharetra magna quis augue ultricies ultricies.

</div>