.tile-container {
    float:left;
    width:100px;
    height:100px;
    margin-right: 5px;
   padding-top:15px;
  
}

    .tile-container:hover {
box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.55);
    }

.tile-container img
{
    width:70px;
    margin: 0 auto; 
    display:block;
}

.tile-container div{
 text-align:center;
 color:white;
 font-weight:bold;
}
